@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@Configuration.GetSection("categoria")["dato1"]


@Configuration.GetSection("categoria")["datyo2"]

@Configuration.GetSection("categoria:datyo2").Value;

@* @Configuration.GetValue(typeof(string), "testvar") *@



<div class="text-center">
    <h1 class="display-4">Welcome deploye from terraform</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">v2</a>.</p>
</div>
